@model  QlikPlatformManager.ViewModels.TesterDonneesViewModel
@{
    ViewBag.Title = "Valider données";
}

<div class="container-fluid" id="ContentDiv">
    <script type="text/javascript">
        $.validator.unobtrusive.parse(document);
    </script>
    <script src="@Url.Content("~/Scripts/mine/utils.js")" type="text/javascript"></script>

    @*ZONE ARIANE*@
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Tester</li>
                    <li class="breadcrumb-item active" aria-current="page">Données</li>
                </ol>
            </nav>
            <br />
        </div>
    </div>

    @*ZONE POST FORMULAIRE*@
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm("Donnees", "Tester", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ContentDiv", OnBegin = "OnBegin(this)", OnComplete = "OnComplete", OnFailure = "OnFailure" }, new { @id = "DonneesForm" }))
            {
                <div class="row">

                    @*Environnenements*@
                    <div class="col-md-4">
                        <div class="row"><div class="col-md-12"><legend>@Html.LabelFor(model => model.SelectedEnvironnements, new { @class = "col-form-label" })</legend></div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @foreach (var cb in Model._AllEnvironnements)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="SelectedEnvironnements" value=@cb.ID id=@cb.ID @{if (Model.SelectedEnvironnements != null && Model.SelectedEnvironnements.Contains(cb.ID)) { <text> checked </text>  } } onclick="RazSelectedList('SelectedEnvironnements')">
                                            <label class="form-check-label" for=@cb.ID>@cb.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @Html.TextBoxFor(model => model.SelectedEnvironnements, new { @style = "display:none", @id = "SelectedEnvironnements" })
                                @Html.ValidationMessageFor(model => model.SelectedEnvironnements, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*Modele*@
                    <div class="col-md-3">
                        <div class="row"><div class="col-md-12"><legend>@Html.LabelFor(model => model.SelectedModele, new { @class = "col-form-label" })</legend></div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.SelectedModele, new SelectList(Model._Modeles, "Value", "Text"), new { @class = "form-control form-control-sm", @onchange = "OnChangeSelectModele(this);", @id = "Modele" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @Html.ValidationMessageFor(model => model.SelectedModele, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                    @*Applications*@
                    <div class="col-md-4">

                        @if (Model._AllApplications != null && Model._AllApplications.Count() > 0)
                        {
                            <div class="row"><div class="col-md-12"><legend>@Html.LabelFor(model => model.SelectedApplications, new { @class = "col-form-label" })</legend></div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @foreach (var cb in Model._AllApplications)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="SelectedApplications" value=@cb.ID id=@cb.ID @{if (Model.SelectedApplications != null && Model.SelectedApplications.Contains(cb.ID)) { <text> checked='checked' </text>  }} onclick="RazSelectedList('SelectedApplications')">
                                                <label class="form-check-label" for=@cb.ID>@cb.Name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.TextBoxFor(model => model.SelectedApplications, new { @style = "display:none", @id = "SelectedApplications" })
                                    @Html.ValidationMessageFor(model => model.SelectedApplications, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                    </div>
                </div>

                @*Bouton*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <button id="ActionStateBtn" type="submit" class="btn btn-outline-success btn-sm btn-lg btn-block">
                                    @*disabled*@
                                    Valider
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-2">
                                @*<span id="ActionStateSpr" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>*@
                                <div id="ActionStateSpr" class="spinner-grow text-success" role="status" style="display:none">
                                    <span class="sr-only">In process...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*ZONE RESULTATS*@
                <div class="row">
                    <div id="ResultsDiv" class="col-md-12">
                        @if (!String.IsNullOrEmpty(Model.Results.Title))
                        {
                            @Html.Partial("Results", Model.Results)
                        }
                    </div>
                </div>

                @*AFFICHAGE VISUALISATION QLIK*@

                if (Model._VizuOTF != null && Model._VizuOTF.Count() > 0)
                {
                    foreach (var vizu in Model._VizuOTF)
                    {
                        @*Objet constuit à la volée*@
                        string idAppname = "qa-" + vizu.ApplicationName.Replace(" ", "");
                        string idHostAppname = "qh-" + vizu.Host + idAppname;
                        string idHostAppnameState = idAppname + "_State";
                        @*string idBtn = "btn-" + vizu.Host + vizu.ApplicationID;
                    <div class="row">
                        <div class="col-md-12"><button id=@idBtn>Afficher</button></div>
                    </div>*@
                        <div class="row">
                            <div id=@idHostAppname class="col-md-11">
                                <p>@vizu.ApplicationName</p>
                            </div>
                            <div class="col-md-1">
                                <div id=@idHostAppnameState class="spinner-border spinner-border-sm text-success" role="status">
                                    <span class="sr-only">In process...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id=@idHostAppname class="col-md-12">
                                <div class="qlik-embed" id=@idAppname data-qlik-appname="@vizu.ApplicationName" data-qlik-host=@vizu.Host></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><br /></div>
                        </div>

                        @*<script>
                        FillQlikVizu('@vizu.Host', '@vizu.ApplicationName', '@idApp', '@Html.Raw(vizu.Objet)');
                        //document.getElementById('dsp_btn').onclick = function () {
                        //    FillQlikVizu('@vizu.Host', '@vizu.ApplicationName', '@id', '@Html.Raw(vizu.Objet)');
                        //}
                    </script>*@
                    }
                    <script>

                        FillAllQlikVizu('@Html.Raw(@Model._VizuOTF.Last().Objet)');
                        @*document.getElementById('dsp_btn').onclick = function () {
                        FillQlikVizu('@vizu.Host', '@vizu.ApplicationName', '@id', '@Html.Raw(vizu.Objet)');
                        }*@

                    </script>
                }
            }
        </div>
    </div>
</div>
