@model  QlikPlatformManager.ViewModels.DeployerApplicationConnexionViewModel

@*Entête scripts*@
<script src="@Url.Content("~/Scripts/mine/utils.js")" type="text/javascript"></script>

@*Appel vue partielle*@
@Html.Partial("ConnexionServeur", Model.Connexion, Model.GetViewData(Html))

@*<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="row form-inline">
            <div class="col-md-3"></div>
            <div class="col">
                <button id="ActionExportXlsBtn" type="submit" name="ExportXls" onclick="OnClicExport('@Html.NameFor(m => m)', this, '@Html.NameFor(m => m.ExportXls).ToString().Replace(".", "_")')" class="btn btn-outline-info btn-sm btn-lg btn-block">
                    <span id="StateExportXlsSpr" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                    Export Xls
                </button>
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.ExportXls, new { @id = @Html.NameFor(m => m.ExportXls).ToString().Replace(".", "_"), @style = "display:none" })
                </div>
            </div>
            <div class="col">
                <button id="ActionExportJsonBtn"  type="submit" name="ExportJson" onclick="OnClicExport('@Html.NameFor(m => m)', this, '@Html.NameFor(m => m.ExportJson).ToString().Replace(".", "_")')" class="btn btn-outline-info btn-sm btn-lg btn-block">
                    <span id="StateExportJsonSpr" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none"></span>
                    Export Json
                </button>
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.ExportJson, new { @id = @Html.NameFor(m => m.ExportJson).ToString().Replace(".", "_"), @style = "display:none" })
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
    </div>
</div>*@

