
@model  QlikPlatformManager.ViewModels.DeployerApplicationViewModel
@{

}

<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>

<div class="container-fluid" id="ContentDiv">

    @*ZONE ARIANE*@
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Archivage</li>
                    <li class="breadcrumb-item active" aria-current="page">Stucture</li>
                </ol>
            </nav>
            <br />
        </div>
    </div>

    @*ZONE POST FORMULAIRE*@
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm("Application", "Deployer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ContentDiv", OnBegin = "OnBegin(this)", OnComplete = "OnComplete", OnFailure = "OnFailure" }, new { @id = "StructureForm" }))
            {
                @*ZONE SAISIE*@
                <div class="row">
                    @*--------Colonne de gauche---------*@
                    <div class="col-md-5">
                        <fieldset class="form-group">
                            <legend>Application source</legend>
                            <br />
                            @Html.Partial("ApplicationConnexion", Model.ServeurSource, Model.GetViewData(Html, "ServeurSource"))
                            <br />
                        </fieldset>
                    </div>
                    @*--------Colonne de séparation---------*@
                    <div class="col-md-1">
                    </div>
                    @*--------Colonne de droite---------*@
                    <div class="col-md-5">
                        <fieldset class="form-group">
                            <legend>Application cible</legend>
                            <br />
                            @Html.Partial("ApplicationConnexion", Model.ServeurCible, Model.GetViewData(Html, "ServeurCible"))
                            <br />
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="form-check">
                            @{
                                if (Model.ServeurSource.Connexion.QEngineConnexion == null || Model.ServeurSource.Connexion.QEngineConnexion.ServerMode)
                                {
                                    @Html.CheckBoxFor(model => model.AvecDonnees, new { @class = "form-check-input form-check-input-sm" })
                                    @Html.LabelFor(model => model.AvecDonnees, new { @class = "form-check-label form-check-label-sm" })
                                }
                                else
                                {
                                    @Html.Raw("<div class=\"font-weight-lighter font-italic\"> A partir du desktop, aucune suppression de données possible : livraison brute </div>");
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <button id="ActionStateBtn" type="submit" class="btn btn-outline-success btn-sm btn-lg btn-block">
                                    @*disabled*@
                                    Livrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div id="ActionStateSpr" class="spinner-grow text-success" role="status" style="display:none">
                                    <span class="sr-only">In process...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*ZONE RESULTATS*@
                <div class="row">
                    <div id="ResultsDiv" class="col-md-12">
                        @if (!String.IsNullOrEmpty(Model.Results.Title))
                        {
                            @Html.Partial("Results", Model.Results)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
