@model  QlikPlatformManager.ViewModels.ServeurViewModel

@*Entête scripts*@
<script src="@Url.Content("~/Scripts/mine/utils.js")" type="text/javascript"></script>
<script>
    //Variables à utilisées en javascript
    //var _infosApplication = @Html.Raw(Json.Encode(Model.ApplicationsInfos));
</script>

@*HTML Contenu*@
<div class="form-group row">
    @Html.LabelFor(model => model.Serveur, new { @class = "col-md-2 col-form-label" })
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.Serveur, new SelectList(Model._Serveur, "Value", "Text"), new { @class = "form-control form-control-sm", @onchange = "OnChangeSelect(this);", @id = @Html.NameFor(m => m.Serveur).ToString().Replace(".", "_") + "_Select" }) 
            </div>
            <div class="col-md-1">
                <span class="fas fa-check" style="color:#28a745;display:none" id="@(Html.NameFor(m => m.Serveur).ToString().Replace(".", "_"))_Span" data-toggle="tooltip" data-placement="left" data-html="true" title="@Model.ServeurInfos"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.ValidationMessageFor(model => model.Serveur, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(model => model.Flux, new { @class = "col-md-2 col-form-label" })
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.Flux, new SelectList(Model._Flux, "Value", "Text"), "", new { @class = "form-control form-control-sm", @onchange = "OnChangeSelect(this);", @id = @Html.NameFor(m => m.Flux).ToString().Replace(".", "_") + "_Select" })
            </div>
            <div class="col-md-1">
                <span class="fas fa-check" style="color:#28a745;display:none" id="@(Html.NameFor(m => m.Flux).ToString().Replace(".", "_"))_Span" data-toggle="tooltip" data-placement="left" data-html="true" title="@Model.FluxInfos"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.ValidationMessageFor(model => model.Flux, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(model => model.Application, new { @class = "col-md-2 col-form-label" })
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.Application, new SelectList(Model._Application, "Value", "Text"), "", new { @class = "form-control form-control-sm", @onchange = "OnChangeSelect(this);", @id = @Html.NameFor(m => m.Application).ToString().Replace(".", "_") + "_Select" })
            </div>
            <div class="col-md-1">
                <span class="fas fa-check" style="color:#28a745;display:none" id="@(Html.NameFor(m => m.Application).ToString().Replace(".", "_"))_Span" data-toggle="tooltip" data-placement="left" data-html="true" title=""></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.ValidationMessageFor(model => model.Application, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="col">
                    @{
                        if (Model.ApplicationsInfos != null && Model.ApplicationsInfos.Count > 0)
                        {

                            List<SelectListItem> _infoParApplicationItem = new List<SelectListItem>();
                            foreach (KeyValuePair<string, string> app in Model.ApplicationsInfos)
                            {
                                _infoParApplicationItem.Add(new SelectListItem { Text = app.Value, Value = app.Key });
                            }
                            SelectList _infoParApplication = new SelectList(_infoParApplicationItem);
                            @Html.DropDownList("Application_Infos", _infoParApplicationItem, "", new { @class = "form-control form-control-sm" })
                        }
                    }
                
            </div>
        </div>
    </div>
</div>
